<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>cowsite</title>
   <style>
   pre{
   height: 100vh;
   }
   </style>
</head>
<body>
<pre>
 _________________________________ 
/ Most people can do without the  \
| essentials, but not without the |
\ luxuries.                       /
 --------------------------------- 
  \
   \   \_\_    _/_/
    \      \__/
           (oo)\_______
           (__)\       )\/\
               ||----w |
               ||     ||
</pre>
<button> <a href="/cowlink/">New fortune?</a></button>
</body>
</html>
