<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 ___________________________________
/ "... an experienced, industrious, \
| ambitious, and often quite often  |
| picturesque liar."                |
|                                   |
\ -- Mark Twain                     /
 -----------------------------------
  \
   \
       __     
      UooU\.'@@@@@@`.
      \__/(@@@@@@@@@@)
           (@@@@@@@@)
           `YY~~~~YY'
            ||    ||
</pre>
<button> <a href="/cowlink/">New fortune?</a></button>
</body>
</html>
