<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________ 
/ "Note that if I can get you to \"su and \
| say\" something just by asking, you     |
| have a very serious security problem on |
| your system and you should look into    |
| it." (By Paul Vixie, vixie-cron 3.0.1   |
\ installation notes)                     /
 ----------------------------------------- 
  \     .    _  .    
   \    |\_|/__/|    
       / / \/ \  \  
      /__|O||O|__ \ 
     |/_ \_/\_/ _\ |  
     | | (____) | ||  
     \/\___/\__/  // 
     (_/         ||
      |          ||
      |          ||\   
       \        //_/  
        \______//
       __ || __||
      (____(____)
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _____________________________________ 
/ If God had intended Man to Walk, He \
\ would have given him Feet.          /
 ------------------------------------- 
   \             \
    \             \_
     \             \\
      \             \\/\
       \            _\\/
        \         /   -\
         \      /  oo   -\
          \   /           \
             |    ---\    -\
             \--/     \     \
                       |      -\
                        \       -\         -------------\    /-\
                         \        \-------/              ---/    \
                          \                                  |\   \
                           |                                 / |  |
                           \                                |  \  |
                            |                              /    \ |
                            |                             /     \ |
                             \                             \     \|
                              -              /--------\    |      o
                               \+   +---------          \   |
                                |   |                   |   \
                                |   |                    \   |
                                |   |                    |   \
                                |   |                     \   |
                                 \  |                     |   |
                                 |  |                      \  \
                                 |  |                      |   |
                                 +--+                       ---+
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________ 
/ Marvin the Nature Lover spied a         \
| grasshopper hopping along in the grass, |
| and in a mood for communing with        |
| nature, rare even among full-fledged    |
| Nature Lovers, he spoke to the          |
| grasshopper, saying: "Hello, friend     |
| grasshopper. Did you know they've named |
| a drink after you?"                     |
|                                         |
| "Really?" replied the grasshopper,      |
| obviously pleased. "They've named a     |
\ drink Fred?"                            /
 ----------------------------------------- 
        \  ^___^
         \ (ooo)\_______
           (___)\       )\/\
                ||----w |
                ||     ||
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________ 
/ "I think the sky is blue because it's a \
| shift from black through purple to      |
| blue, and it has to do with where the   |
| light is. You know, the farther we get  |
| into darkness, and there's a shifting   |
| of color of light into the blueness,    |
| and I think as you go farther and       |
| farther away from the reflected light   |
| we have from the sun or the light       |
| that's bouncing off this earth, uh, the |
| darker it gets ... I think if you look  |
| at the color scale, you start at black, |
| move it through purple, move it on out, |
| it's the shifting of color. We          |
| mentioned before about the stars        |
| singing, and that's one of the effects  |
| of the shifting of colors."             |
|                                         |
\ -- Pat Robertson, The 700 Club          /
 ----------------------------------------- 
    \
     \
      \
  ___       _____     ___
 /   \     /    /|   /   \
|     |   /    / |  |     |
|     |  /____/  |  |     |     
|     |  |    |  |  |     |
|     |  | {} | /   |     |
|     |  |____|/    |     |
|     |    |==|     |     |
|      \___________/      |
|                         |
|                         |
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________ 
/ Anything free is worth what you pay for \
\ it.                                     /
 ----------------------------------------- 
 \
  \
   \ >()_
      (__)__ _
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________ 
/ Your Co-worker Could Be a Space Alien,  \
| Say Experts                             |
|                                         |
| ...Here's How You Can Tell Many         |
| Americans work side by side with space  |
| aliens who look human -- but you can    |
| spot these visitors by looking for      |
| certain tip-offs, say experts. They     |
| listed 10 signs to watch for:           |
|                                         |
| (3) Bizarre sense of humor. Space       |
| aliens who don't understand             |
|                                         |
| earthly humor may laugh during a        |
| company training film or tell           |
|                                         |
| jokes that no one understands, said     |
| Steiger.                                |
|                                         |
| (6) Misuses everyday items. "A space    |
| alien may use correction                |
|                                         |
| fluid to paint its nails," said         |
| Steiger.                                |
|                                         |
| (8) Secretive about personal life-style |
| and home. "An alien won't               |
|                                         |
| discuss details or talk about what it   |
| does at night or on weekends."          |
|                                         |
| (10) Displays a change of mood or       |
| physical reaction when near certain     |
|                                         |
| high-tech hardware. "An alien may       |
| experience a mood change when           |
|                                         |
| a microwave oven is turned on," said    |
| Steiger. The experts pointed out that a |
| co-worker would have to display most if |
| not all of these traits before you can  |
| positively identify him as a space      |
| alien.                                  |
|                                         |
| -- National Enquirer, Michael Cassels,  |
| August, 1984.                           |
|                                         |
| [I thought everybody laughed at company |
\ training films. Ed.]                    /
 ----------------------------------------- 
  \     .    _  .    
   \    |\_|/__/|    
       / / \/ \  \  
      /__|O||O|__ \ 
     |/_ \_/\_/ _\ |  
     | | (____) | ||  
     \/\___/\__/  // 
     (_/         ||
      |          ||
      |          ||\   
       \        //_/  
        \______//
       __ || __||
      (____(____)
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _____________________________________ 
/ No one knows what he can do till he \
| tries.                              |
|                                     |
\ -- Publilius Syrus                  /
 ------------------------------------- 
  \
   \
       ___  
     {~._.~}
      ( Y )
     ()~*~()   
     (_)-(_)   
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________ 
/ Only kings, presidents, editors, and    \
| people with tapeworms have the right to |
| use the editorial "we".                 |
|                                         |
\ -- Mark Twain                           /
 ----------------------------------------- 
  \       .
   \      l\ /\
    \     !)Y.))
         _\| //
       ,/oo  \
    .-+    _ /
   `-_--=-'/
         / /
        /  \_
       Y  .  )
 .--v--^--' /"\
 \/~\/~T"--' _ \
       !  ./~ " \
       `\.Y      Y    _
       (~~|      |   |^Y
       `\. \     |   l |
         T~\^. Y |   / |
         | |\| | !  l  |
         ! | Y | `\/'. |
   ______L_j l j   ~"  l
 _/,_/, __ ~"__ }____,/
~~~~~~~~~~~~~~~~~~~~~~~~~~~
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________ 
/ The Commandments of the EE:             \
|                                         |
| (9) Trifle thee not with radioactive    |
| tubes and substances lest thou          |
|                                         |
| commence to glow in the dark like a     |
| lightning bug, and thy wife be          |
|                                         |
| frustrated and have not further use for |
| thee except for thy wages. (10) Commit  |
| thou to memory all the words of the     |
| prophets which are                      |
|                                         |
| written down in thy Bible which is the  |
| National Electrical Code,               |
|                                         |
| and giveth out with the straight dope   |
| and consoleth thee when                 |
|                                         |
| thou hast suffered a ream job by the    |
| chief electrician. (11) When thou       |
| muckest about with a device in an       |
| unthinking and/or                       |
|                                         |
| unknowing manner, thou shalt keep one   |
| hand in thy pocket. Better              |
|                                         |
| that thou shouldest keep both hands in  |
| thy pockets than                        |
|                                         |
| experimentally determine the electrical |
| potential of an                         |
|                                         |
\ innocent-seeming device.                /
 ----------------------------------------- 
  \                                  ,+*^^*+___+++_
   \                           ,*^^^^              )
    \                       _+*                     ^**+_
     \                    +^       _ _++*+_+++_,         )
              _+^^*+_    (     ,+*^ ^          \+_        )
             {       )  (    ,(    ,_+--+--,      ^)      ^\
            { (@)    } f   ,(  ,+-^ __*_*_  ^^\_   ^\       )
           {:;-/    (_+*-+^^^^^+*+*<_ _++_)_    )    )      /
          ( /  (    (        ,___    ^*+_+* )   <    <      \
           U _/     )    *--<  ) ^\-----++__)   )    )       )
            (      )  _(^)^^))  )  )\^^^^^))^*+/    /       /
          (      /  (_))_^)) )  )  ))^^^^^))^^^)__/     +^^
         (     ,/    (^))^))  )  ) ))^^^^^^^))^^)       _)
          *+__+*       (_))^)  ) ) ))^^^^^^))^^^^^)____*^
          \             \_)^)_)) ))^^^^^^^^^^))^^^^)
           (_             ^\__^^^^^^^^^^^^))^^^^^^^)
             ^\___            ^\__^^^^^^))^^^^^^^^)\\
                  ^^^^^\uuu/^^\uuu/^^^^\^\^\^\^\^\^\^\
                     ___) >____) >___   ^\_\_\_\_\_\_\)
                    ^^^//\\_^^//\\_^       ^(\_\_\_\)
                      ^^^ ^^ ^^^ ^
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 ___________________________________ 
/ Let thy maid servant be faithful, \
| strong, and homely.               |
|                                   |
\ -- Benjamin Franklin              /
 ----------------------------------- 
   \        \
    \        \
     \       _\^
      \    _- oo\
           \---- \______
                 \       )\
                ||-----||  \
                ||     ||
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
