<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________
/ There is an old time toast which is     \
| golden for its beauty. "When you ascend |
| the hill of prosperity may you not meet |
| a friend."                              |
|                                         |
\ -- Mark Twain                           /
 -----------------------------------------
   \
    \        .
     .---.  //
    Y|o o|Y// 
   /_(i=i)K/ 
   ~()~*~()~  
    (_)-(_)   

     Darth 
     Vader    
     koala        
</pre>
<button> <a href="/cowlink/">New fortune?</a></button>
</body>
</html>
