<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="../style.css" />
   <meta charset="UTF-8">
   <title>cowsite</title>
</head>
<body>
<pre>
 ___________________________________
/ Q: How many WASPs does it take to \
\ change a light bulb? A: One.      /
 -----------------------------------
     \
      \
          oO)-.                       .-(Oo
         /__  _\                     /_  __\
         \  \(  |     ()~()         |  )/  /
          \__|\ |    (-___-)        | /|__/
          '  '--'    ==`-'==        '--'  '
</pre>
<button> <a href="/cowlink/">New fortune?</a></button>
</body>
</html>
