<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _________________________________________
/ You are deeply attached to your friends \
\ and acquaintances.                      /
 -----------------------------------------
        \    ,-^-.
         \   !oYo!
          \ /./=\.\______
               ##        )\/\
                ||-----w||
                ||      ||

               Cowth Vader
</pre>
<button> <a href="/cowlink/">New fortune?</a></button>
</body>
</html>
