
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 ________________________________________ 
/ If computers take over (which seems to \
| be their natural tendency), it will    |
| serve us right.                        |
|                                        |
\ -- Alistair Cooke                      /
 ---------------------------------------- 
 \     ____________ 
  \    |__________|
      /           /\
     /           /  \
    /___________/___/|
    |          |     |
    |  ==\ /== |     |
    |   O   O  | \ \ |
    |     <    |  \ \|
   /|          |   \ \
  / |  \_____/ |   / /
 / /|          |  / /|
/||\|          | /||\/
    -------------|   
        | |    | | 
       <__/    \__>
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
