<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cowsite</title>
</head>
<body>
<pre>
 _______________________________________ 
/ Practical people would be more        \
| practical if they would take a little |
| more time for dreaming.               |
|                                       |
\ -- J. P. McEvoy                       /
 --------------------------------------- 
         \     ,-.      .-,
          \    |-.\ __ /.-|
           \   \  `    `  /
                /_     _ \
              <  _`q  p _  >
              <.._=/  \=_. >
                 {`\()/`}`\
                 {      }  \
                 |{    }    \
                 \ '--'   .- \
                 |-      /    \
                 | | | | |     ;
                 | | |.;.,..__ |
               .-"";`         `|
              /    |           /
              `-../____,..---'`
</pre>
<button> <a href="/my-link/">Click me</a></button>
</body>
</html>
